body, *
{
    font-family:Arial, Helvetica, sans-serif; 
}
.show-museum 
{
    max-width: 800px;
    margin-left: 5%;
}
a 
{ 
    text-decoration: none; 
    color:rgb(62,11,249); 
}
a:hover 
{ 
    text-decoration: underline; color:rgb(62,11,249); 
}
small 
{ 
    font-size: 14px; line-height: 1.6;
}
.legal 
{ 
    font-size: 12px; line-height: 1.2; color: dimgray;
}
strong 
{ 
    font-size: 26px; font-weight:bold; 
}
.appIcon 
{
    width:128px;height:128px;float:right;
    margin-top:10px;margin-right:40px;
    border-radius: 10%;
}
h1 
{
    font-size:42px;
    padding-top: 18px; margin-bottom:38px;
}
.layoutCell
{
    font-size:18px;
    min-width: 200px; padding-bottom: 18px;
}
.rowTitle
{
    font-weight:bold;
    vertical-align: top;
    font-size:18px;
    min-width: 200px; padding-bottom: 18px;
}
.rowDetail
{
    vertical-align: top;
    min-width: 200px; padding-bottom: 24px;
}
ul 
{
    margin-bottom: 0px;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
li
{
    font-size:18px;
}
.screenshot 
{
    width:64px;
    height:64px;
    object-fit:cover;
    margin-right: 8px;
    border-radius: 15%;
}
.deviceSupport::after
{
    content: " \2717";
    content: url(false.png);
}
.deviceSupport1::after
{
    content: " \2713";
    content: url(true.png);
}

.museumMaster {
    width: 100%;
    position: relative;
    background-color: #fff;
}
h2
{
    font-size:28px;
    margin-top: 20px;
    margin-bottom: 0px;
}
h2 a 
{
    color: black;
    text-decoration: none;
}
.categoryMenu 
{
    background-color: lightgray;
    color: #FFF;
    width: 220px;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    line-height: 1.6;
}
.categoryMenu a 
{
    color:rgb(62,11,249);
}
.categorySelected 
{
    font-weight: bold;
}
.categorySelected a
{
    text-decoration: none;
    color: black;
}
.categorySelected :before
{
    content: "> ";
}
.appsList {
    background-color: #fff;
    color: #000;
    padding: 10px;
    position: absolute;
    left: 220px;
    right: 0;
    margin-top: 20px;
    margin-left: 30px;
}
.categoryMenu, .appsList {
    display: inline-block;
    vertical-align: top;
}