.content
{
    font-family:Arial, Helvetica, sans-serif; 
}
.show-museum 
{
    font-family:Arial, Helvetica, sans-serif; 
    max-width: 840px;
    margin-left: 2em;
    margin-top: 2em;
}
a 
{ 
    text-decoration: none; 
    color:rgb(62,11,249); 
}
a:hover 
{ 
    text-decoration: underline; color:rgb(62,11,249); 
}
small 
{ 
    font-size: 14px; line-height: 1.6;
}
.legal 
{ 
    font-size: 12px; line-height: 1.2; color: dimgray;
}
strong 
{ 
    font-size: 26px; font-weight:bold; 
}
.appIcon 
{
    width:128px;height:128px;float:right;
    margin-top:10px;margin-right:40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
h1 
{
    font-size:42px;
    padding-top: 18px; margin-bottom:38px;
}
.layoutCell
{
    font-size:18px;
    text-align:left;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 18px;
}
.rowTitle
{
    font-weight:bold;
    vertical-align: top;
    font-size:18px;
    min-width: 200px; padding-bottom: 18px;
}
.rowDetail
{
    vertical-align: top;
    min-width: 200px; padding-bottom: 24px;
}
.rowDetail ul 
{
    margin-bottom: 0px;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
.rowDetail li
{
    font-size:18px;
}
.screenshot 
{
    width:64px;
    height:64px;
    object-fit:cover;
    margin-right: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.deviceSupport::after
{
    content: " \2717";
    content: url(assets/false.png);
}
.deviceSupport1::after
{
    content: " \2713";
    content: url(assets/true.png);
}

.museumMaster {
    width: 100%;
    position: relative;
    background-color: #fff;
}
h2
{
    font-size:28px;
    margin-top: 20px;
    margin-bottom: 0px;
}
h2 a 
{
    color: black;
    text-decoration: none;
}
h3
{
    margin-top: -5px;
    margin-bottom: 30px;
    color: dimgray;
}
.categoryMenu 
{
    background-color: lightgray;
    color: #FFF;
    width: 220px;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    line-height: 1.6;
    border: 1px solid darkgray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.categoryMenu a 
{
    color:rgb(62,11,249);
}
.categorySelected 
{
    font-weight: bold;
}
.categorySelected a
{
    text-decoration: none;
    color: black;
}
.categorySelected :before
{
    content: "> ";
}
.appsList {
    background-color: #fff;
    color: #000;
    padding: 10px;
    position: absolute;
    left: 230px;
    right: 0;
    margin-top: 20px;
    margin-left: 30px;
}
.categoryMenu, .appsList 
{
    display: inline-block;
    vertical-align: top;
}
.search 
{
    padding:6px 15px;
    min-width: 250px;
    background:lightgray;
    border:2px solid #dbdbdb;
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    color: rgb(62,11,249);
    font-size: 16px;
}
.search:focus-within
{
    padding:6px 15px;
    background:white;
    border:2px solid #dbdbdb;
}
.search-button 
{
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid rgb(62,11,249);
    background-color:rgb(62,11,249);
    color:#fafafa;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    font-size: 16px;
}
.search-button:hover  
{
    background-color:#fafafa;
    color:rgb(62,11,249);
}
.authorSocial
{
    height: 32px;
    width: 32px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}